<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3"></script>    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>

</head>

<body>
    <div id="vue-app">




        <div class="">

            <div class="table-slides">

                <div class="carousel-container no-fixed">
                    <div class="slick-carousel" id="slick-carousel-slides">

                        <div>
                            <div class="slide-element-4">

                                <div class="title cell basics first-col table-header">Name</div>
                                <div class="title cell basics">Protein</div>
                                <div class="title cell basics">Calories</div>
                                <div class="title cell basics">Fiber</div>

                                <template template v-for="fruit in fruits">
                                    <div class="cell basics first-col img"><img :src="'img/fruits/' + fruit.image + '.svg'">
                                        <span>{{fruit.name}}</span></div>
                                    <div class="cell basics">{{fruit.protein}}</div>
                                    <div class="cell basics">{{fruit.calories}}</div>
                                    <div class="cell basics">{{fruit.fiber}}</div>
                                </template>
                            </div>

                        </div>


                        <div>
                            <div class="slide-element-3">
                                <div class="title cell minerals">Mineral #1</div>
                                <div class="title cell minerals">Mineral #2</div>
                                <div class="title cell minerals">Mineral #3</div>
                                <template template v-for="fruit in fruits">
                                    <template v-for="(val, key, index) in fruit.minerals">
                                        <div class="cell minerals" v-if="index < 3">
                                            <span>{{ capitalizeFirstLetter(key) }}</span>
                                            <span>{{val}}</span>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </div>
                        <div>
                            <div class="slide-element-3">
                                <div class="title cell vitamins">Vitamin #1</div>
                                <div class="title cell vitamins">Vitamin #2</div>
                                <div class="title cell vitamins">Vitamin #3</div>
                                <template template v-for="fruit in fruits">
                                    <template v-for="(val, key, index) in fruit.vitamins" >
                                        <div class="cell vitamins" v-if="index < 3">
                                            <span>{{ unCamelCase(key) }}</span>
                                            <span>{{val}}</span>
                                        </div>
                                    </template>
                                </template>

                            </div>
                        </div>


                    </div>
                </div>


            </div>


        </div>

    </div>


    <script src="vue-app.js" async defer type="module"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>

</body>

</html>