
body {
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 1em auto;
}

.canvas {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    border: 1px solid lavender;
}

.canvas-mobile {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}


.cell img {
    max-width: 40px;
    padding: 3px;
}


table.basic {
    margin: 0 auto;
    width: 100%;
    display: block;
}

table.basic td {
    font-size: .9rem;
    min-width: 152px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

table.basic img {
    max-width: 40px;
    padding: 3px;
}

table.basic thead {
    font-weight: 700;
}


/* table grid */

.table-grid  {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    font-size: .9rem;
}

.table-grid .header-filter.fr-1 {
    grid-column: span 4;
}

.table-grid .header-filter.fr-2 {
    grid-column: span 10;
}

.table-grid .cell {
    padding: 10px 7px;
    border: 1px solid #bbec6c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
}



/* Table grid simplified*/

.table-grid.simplified4  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: .9rem;
}

.table-grid.simplified .header-filter.fr-1 {
    grid-column: span 4;
}

.table-grid.simplified .header-filter.fr-2 {
    grid-column: span 3;
}

.table-grid.simplified  {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: .9rem;
}

.table-grid.simplified .header-filter.fr-1 {
    grid-column: span 4;
}

.table-grid.simplified .header-filter.fr-2 {
    grid-column: span 3;
}


/* Fixed column table slides */

.table-slides {
    font-size: .9rem;
}

.table-slides .cell {
    /* padding: 10px 7px; */
    border: 1px solid #bbec6c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    box-sizing: border-box;
}

.table-slides .cell:not(.title) {
    height: 80px;
}


/* No fixed slides */

.no-fixed .slide-element-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
} 
.no-fixed .slide-element-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
} 

.no-fixed.carousel-container {
    width: 100%;
    z-index: 8;
    margin-left: 0%;
}


/* Fixed slides */

.firstColumn {
    display: grid;
    grid-template-columns: 1fr;
    font-size: .9rem;
    width: 20%;
    position: relative;
    float:left;
    background: white;
    box-sizing: border-box;
    z-index: 99;
    border-right: 1px solid #bbec6c;
}


.slide-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.carousel-container {
    width: 80%;
    margin-left: 20%;
    z-index: 8;
}

.carousel-container .slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .75;
    color: #bbec6c;
    -webkit-font-smoothing: antialiased;
}

.carousel-container .slick-dots li.slick-active button:before {
    color: #f74948;
}

.slick-dots {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 4px 0 6px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
}


.fixed-header .table-header:not(.first-col) {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    top: 0;
}

.fixed-header.first-col {
    position: sticky;
}



/* Common styles */

.cell.title {
    background: #bbec6c;
    border-right: 1px solid white;
    font-weight: 600;
}

.cell:not(.title) {
    background: #fff;
    border-right: 1px solid white;
    font-weight: 600;
}


/* .fixed-header .title {
    position: fixed;
    width: 20%;
}

.fixed-header .firstColumn .title {
    width: 26%;
} */


/* Responsive breakpoints */

/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 576px) { 

    .nav-margin .slick-dots {
        margin-left: -20%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .canvas-mobile {
        max-width: 360px;
        width: 100%;
        height: 640px;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: auto;
        justify-content: center;
        align-items: center;
        border: 1px solid lavender;
    }

    .canvas-mobile .slide-element {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 288px;
    }
    
    .canvas-mobile .carousel-container:not(.no-fixed) {
        width: 288px;
        margin-left: 70px;
    }
    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }